WebshopWPF/Connected Services/WebshopService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WebshopService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_LoginCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginCheck" />
  </wsdl:message>
  <wsdl:message name="IMyService_LoginCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_RegisterCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCheck" />
  </wsdl:message>
  <wsdl:message name="IMyService_RegisterCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetProductsFromCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsFromCustomer" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetProductsFromCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsFromCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_BuyProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyProduct" />
  </wsdl:message>
  <wsdl:message name="IMyService_BuyProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="LoginCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/LoginCheck" message="tns:IMyService_LoginCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/LoginCheckResponse" message="tns:IMyService_LoginCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/RegisterCheck" message="tns:IMyService_RegisterCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/RegisterCheckResponse" message="tns:IMyService_RegisterCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetCustomerById" message="tns:IMyService_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetCustomerByIdResponse" message="tns:IMyService_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetProducts" message="tns:IMyService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetProductsResponse" message="tns:IMyService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsFromCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetProductsFromCustomer" message="tns:IMyService_GetProductsFromCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetProductsFromCustomerResponse" message="tns:IMyService_GetProductsFromCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/BuyProduct" message="tns:IMyService_BuyProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/BuyProductResponse" message="tns:IMyService_BuyProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginCheck">
      <soap:operation soapAction="http://tempuri.org/IMyService/LoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCheck">
      <soap:operation soapAction="http://tempuri.org/IMyService/RegisterCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsFromCustomer">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetProductsFromCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <soap:operation soapAction="http://tempuri.org/IMyService/BuyProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WebshopService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>